.container-narrow
  .row-fluid
    %h2 Hi #{@auction_details.name} 
    %h4 Here are the details regarding your auction - 
    %p 
      This is the link to a map of the plot of land that is up for auction - 
      %a{:href => url("#{@auction_details.google_map_url}"), :target => "_blank"} 
        Link to Map
       
    %p A brief description of the plot - 
    %p #{@auction_details.description}
    
  .row-fluid
    %h4 Bids so far...
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Email
          %th Bid Value
        %tbody
        - @auction_details.bids.each do |bid|
          %tr
            %td #{bid.name}
            %td #{bid.email}
            %td #{bid.value}
  %hr
  %form.marketing{:action => 'closeauction', :method => 'post'}
    %button.btn.btn-large.btn-primary{:type => 'submit'} Close Auction
