.container-narrow
  %form.jumbotron{:action => 'generateauction', :method => 'post'}
    %h1 Create your auction
    - if form.failed?
      %ul 
      - form.messages(:post_generateauction).each do |message|
        %li= message
    %input.input-block-level{:placeholder => 'Enter your name', :name => 'name'}
    %input.input-block-level{:placeholder => 'Enter your email', :name => 'email'}
    %input.input-block-level{:placeholder => 'Enter Google Map URL', :name => 'google_map_url'} 
    %textarea.input-block-level{:placeholder => 'Enter a short description', :name => 'description'}  
    %button.btn.btn-large.btn-primary{:type => 'submit'} Submit
