.container-narrow
  .jumbotron 
    %h1 Hello #{@auction_details.name}
    %h2 Your Auction has been created!
    %hr
  .row-fluid.marketing
    %p We have generated the following 2 links for you -
    %h4 Bid participation link
    %p Send this link to everyone you want to bid in the auction 
    %a{:href => url("/bid/#{@auction_details.bid_guid}"), :target => "_blank"}=url("/bid/#{@auction_details.bid_guid}")
    %h4 Auction administration link
    %p Use this link to view and manage your auction 
    %a{:href => url("/admin/#{@auction_details.auction_guid}"), :target => "_blank"}=url("/admin/#{@auction_details.auction_guid}")
  %hr
