.container-narrow
  .row-fluid
    %h2 This is an auction set up by #{@auction_details.name}
    %p 
      This is the link to a map of the plot of land that is up for auction.
      %a{:href => url("#{@auction_details.google_map_url}"), :target => "_blank"} 
        Link to Map
       
    %p A brief description of the plot - 
    %p #{@auction_details.description}
    %p 
      Highest bid so far - 
      = @auction_high_bid
    %hr
    %form.jumbotron{:action => "", :method => 'post'}
      %h2 Submit your bid!
      - if form.failed?
        %ul 
        - form.messages(:post_generateauction).each do |message|
          %li= message
      %input.input-block-level{:placeholder => 'Enter your name', :name => 'name'}
      %input.input-block-level{:placeholder => 'Enter your email', :name => 'email'}
      %input.input-block-level{:placeholder => 'Enter your bid amount in numeric form', :name => 'bidvalue', :id => 'bidvalue'} 
      %input.input-block-level{:type => 'hidden', :id => 'value', :name => 'value'}
      %button.btn.btn-large.btn-primary{:type => 'submit', :id => 'submit'} Submit

- content_for :footer do
  %script{ :src => '/js/jquery-1.9.1.min.js', :type => 'text/javascript'}
  %script{ :src => '/js/autoNumeric.js', :type => 'text/javascript'}
  :javascript
    var bidvalue = $('#bidvalue');
    bidvalue.autoNumeric('init', {aSign: 'Rs. ', dGroup: 2});
    $('#submit').click(function() {
      $('#value').val(bidvalue.autoNumeric('get'));
    });
    
