.container-narrow
  .row-fluid
    %h2 Thank you for the bid.
    %p The following details regarding your bid have been recorded
    %p Name:  #{@bid_details.name}
    %p Email: #{@bid_details.email}
    %p Bid:   #{@bid_details.value}
