%html
  %head
    %meta{:charset => "utf-8"}
    %link{ :href => "/css/bootstrap.css", :type => "text/css", :rel => "stylesheet" }
    %link{ :href => "/css/bootstrap-responsive.css", :type => "text/css", :rel => "stylesheet" }	
    %link{ :href => "/css/site.css", :type => "text/css", :rel => "stylesheet" }	
    = yield_content :header
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => '/'} BidLand
          .nav-collapse
            %ul.nav
              %li
                %a{:href => '/'}Home
              %li
                %a{:href => '/about'}About
              %li
                %a{:href => '/contact'}Contact
      .container-fluid= yield
    .footer= yield_content :footer
