
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
			.jumbotron h2 {
				font-size: 45px;
				line-height: 1;
			}
			.jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
			.input-block-level {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
			}
			/* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
     
